@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.custom-image {
  margin-bottom: 10px;
  margin-top: 350px;
  margin-left: 270px;
  opacity: 0;
  place-items: center;
  transform: scale(0.8);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  max-width: 200vh; /* Adjust this to control the image size */
  max-height:500px; 
}

.fade-in-zoom {
  animation: fadeInZoom 1s ease-in-out forwards;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 200vh;
}